
.carrito{height: 100vh;
background-color:#ebd7a5 ;}

.detalles{
    display: flex;
    justify-content: center;
    margin-top:30px;
    font-family: 'Permanent Marker', cursive;
}
.detalles h1{
    font-size: 900px;
}
.carro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 40px;


}
.carrito-total{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
    flex-direction: column;
}