.miContainer {
    overflow-x: hidden;
}
.likeitem-container {
    padding: 20px;
   
  }
  
  .likes-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  
  }
  
  .like-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    margin-top: 10px;
  }
  
  .like-item:hover {
    transform: scale(1.05);
  }
  
  .like-item img {
    width: 500px;
    height: 200px;
    object-fit: cover;
  }
  
  .like-text {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .like-text h3 {
    margin: 0;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .like-text button {
    font-size: 18px;
  }
  
  @media (max-width: 768px) {

    LikesView.css
.miContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.likes-container {
    padding: 20px;
  }
  
  .likes-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  
  }
  
  .likes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .like-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    margin-top: 10px;
  }
  
  .like-item:hover {
    transform: scale(1.05);
  }
  
  .like-item img {
    width: 500px;
    object-fit: cover;
  }
  
  .like-text {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .like-text h3 {
    margin: 0;
    font-size: 27px;
    font-family: Helvetica;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .like-text button {
    font-size: 18px;
  }

  }