.contenedor{
    background-color: #fff9eb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card-registrarse{
    background-color: white;
    padding: 10px ;
margin:200px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 500px;
height: 700px;
-webkit-box-shadow: -8px 10px 13px 5px rgba(150,150,150,1);
-moz-box-shadow: -8px 10px 13px 5px rgba(150,150,150,1);
box-shadow: -8px 10px 13px 5px rgba(150,150,150,1);
border-radius: 40px 40px 40px 40px;

}

.card-registrarse input{
    width: 400px;
}

.titulo-registrarse h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    color: #B43C15;
}