.miContenedor{
    background-color: #fff9eb;
    padding-top: 50px;
}

.cardPerfil{
    background-color: white;
    /* width: 420px; */
    border-radius: 20px;
    padding: 30px;
    margin: 0px 0px 40px 0px;
    -webkit-box-shadow: 1px 1px 7px 1px rgba(150,150,150,1);
    -moz-box-shadow: 1px 1px 7px 1px rgba(150,150,150,1);
    box-shadow: 1px 1px 7px 1px rgba(150,150,150,1);
    text-transform: capitalize;
}