.card {
    display: flex;
    padding: 10px 100px 450px 2px;
    margin-top: 100px;
    margin-left: 1150px;
    width: 500px;
    height: 700px;
    -webkit-box-shadow: -8px 10px 13px 5px rgba(150,150,150,1);
-moz-box-shadow: -8px 10px 13px 5px rgba(150,150,150,1);
box-shadow: -8px 10px 13px 5px rgba(150,150,150,1);
border-radius: 40px 40px 40px 40px;
}

.card-body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: center;
}
.titulo{
    display: flex;

}



.card-body button{
    display: flex;
    align-items: center;

}