.miContainer{
    background-color: #fff9eb;
    padding-bottom: 50px;
    /* padding-left:70px; */
    /* height: 100vh; */
}

#contenedor{
    padding-left: 70px;
}

.miContainer h1{
    font-family: 'Permanent Marker', cursive;
    padding: 28px 28px 0px 28px;
}

.card{
    /* background-color: white; */
    border-radius: 30px;
    padding: 20px;
    margin: 30px 0px 0px 0px;
    -webkit-box-shadow: 1px 1px 7px 1px rgba(150,150,150,1);
    -moz-box-shadow: 1px 1px 7px 1px rgba(150,150,150,1);
    box-shadow: 1px 1px 7px 1px rgba(150,150,150,1);
}

