/* 

 .titulo-login{
    display: flex;
} 

.login{
    margin-right: 380px;
} 

    .card-login {
      position: relative;
      z-index: 1;
      left: 60%;
      top: -4%;
      width: 500px;
      height: auto;
      -webkit-box-shadow: -8px 10px 13px 5px rgba(150, 150, 150, 1);
      -moz-box-shadow: -8px 10px 13px 5px rgba(150, 150, 150, 1);
      box-shadow: -8px 10px 13px 5px rgba(150, 150, 150, 1);
      border-radius: 40px;
      transform: translate(0, 50%);
    }
    .imagen-fondo {
      display: block;
      position: absolute;
      z-index: 0;
      top: 4%;
      right: 4%;
      transform: translate(0, 50%);
    }
  
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: center;
    }
    .titulo {
      display: flex;
    }
  
    .card-body h1 {
      font-size: 70px;
      color: #077984;
    }
  
    .card-body input {
      width: 400px;
    } 
  


  }
  @media (min-width: 575.98px) {
    .card-login {
      width: 500px;
    }
  }
  
  

 */
.imagen-fondo {
  position: absolute;
z-index: 0;
top: 25%;
right: 4%;
transition: transform 0.5s ease;
}
.imagen-fondo:hover {
  transform: translate(60px, 0);  
}

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #ebd7a5;
  background-image: url(./img/vista1.jpg);
  background-size: cover;

}

.contenedor-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 1430px;
  padding: 3rem;
}

.card-body form{
  width: 500px;
}

.titulo-login h1 {
  /* margin: 70px 20px 20px 135px; */
  color: white;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-size: 120px;
  text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa,
    0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.card-login {
  background-color: white;
  display: flex;
  width: 500px;
  padding: 1rem;
  -webkit-box-shadow: -8px 10px 13px 5px rgba(150, 150, 150, 1);
  -moz-box-shadow: -8px 10px 13px 5px rgba(150, 150, 150, 1);
  box-shadow: -8px 10px 13px 5px rgba(150, 150, 150, 1);
  border-radius: 40px;
  position: relative;
  z-index: 1;
}

form{
  padding: 0.375rem 4.75rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-body h1 {
  font-size: 70px;
  color: #077984;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  color: black;
}

.titulo {
  font-family: "Permanent Marker", cursive;
  display: flex;
}

@media (max-width: 768px) {
  .home {
    height: 100vh;
    background-color: #ebd7a5;
    background-image: url(./img/vista-movil.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  .titulo {
    font-family: "Permanent Marker", cursive;
    display: flex;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imagen-fondo {
    display: none;
  }

  .card-login {
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 1rem;
    -webkit-box-shadow: -8px 10px 13px 5px rgba(150, 150, 150, 1);
    -moz-box-shadow: -8px 10px 13px 5px rgba(150, 150, 150, 1);
    box-shadow: -8px 10px 13px 5px rgba(150, 150, 150, 1);
    border-radius: 40px;
  }

  .link {
    color: black;
  }

  .titulo-login {
    display: flex;
  }
  .contenedor-main {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
  }
  .titulo-login h1 {
    display: flex;
    text-align: center;
    color: white;
    font-family: "Permanent Marker", cursive;
    font-size: 80px;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa,
      0 5px 0 #acacac, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
      0 20px 20px rgba(0, 0, 0, 0.15);
  }
}
