.contenedorMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff9eb;
  min-height: 100vh;
  width: 100%;
}

.venderContenedor {
  background-color: #fff;
  border: 1px palegoldenrod;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem;
  width: 100%;
  height: 80%;
  max-width: 600px;
  box-shadow: 10px 10px 11px 3px rgba(128, 128, 128, 0.52);
}

.venderContenedor h1 {
  font-family: "Permanent Marker", cursive;
  color: #077984;
  font-size: 48px;
}
.venderContenedor Button {
  width: 100%;
}

@media (max-width: 768px) {
  .contenedorMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .venderContenedor {
    border: 1px palegoldenrod;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    height: 80%;
    max-width: 600px;
    box-shadow: 10px 10px 11px 3px rgba(128, 128, 128, 0.52);
  }
  .venderContenedor h1 {
    font-family: "Permanent Marker", cursive;
    color: #077984;
    font-size: 48px;
  }
  .venderContenedor Button {
    width: 100%;
  }
}
