.contenedorMain{
    background-color: #ebd7a5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.venderContenedor{
    background-color: #f6f1e4;
    height: absolute;
    padding: 1rem;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: -8px 10px 13px 5px rgba(150,150,150,1);
    -moz-box-shadow: -8px 10px 13px 5px rgba(150,150,150,1);
    box-shadow: -8px 10px 13px 5px rgba(150,150,150,1);
    border-radius: 40px;

}

.venderContenedor h5{
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    color: #077984;
}
